@charset "utf-8";

header{
	background-color: Ivory;
	color: black;
}

html {
	background-color: hsl(118, 43%, 59%);
}

body {
	color: white;
	background-color: LightBlue;
	font-family: Verdana, Geneva, sans-serif;
}
nav > ul {
	line-height: 1em;
	list-style-type: none;
	padding: 10px;
}

ul > li {
	line-height: 1em;
	list-style-type: none;
	padding-left: 10px;
}

h1, h2 {
	font-size: 2.0em;
	font-family: Century Gothic, sans-serif;
	font-weight: 900;
}
section {
	margin-top: 1500px;
	margin-bottom: 1500px;
}

footer{
	background-color: Ivory;
	height:50%;
	color: black;
	font-size: 0.5em;
}
