@charset "utf-8";

html {
	background-color: hsl(50, 50%, 50%)
}

body {
	color: white;
	background-color: hsl(200, 85%, 60%)
}

h1, h2 {
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0.5em;
}

